:root {
    --s1-padding: 3rem;
    --s2-text-align: center;
    --s2-margin: auto;
    --s2-color: rgb(194, 111, 94);
    --s2-width: 100%;
    --s3-color: rgba(39, 220, 90, 0.63);
    --s3-boarder: 2px solid rgb(226, 246, 111);
    --s4-color: rgb(236, 235, 235);

}

body {
    background-color: var(--s4-color);
    display: grid;
    font-family: Georgia;
    justify-content: var(--s2-text-align);
    align-items: var(--s2-text-align);
    height: 100vh;
    margin: 0;
    padding: var(--s1-padding);
    width: var(--s2-margin);
    
}

#fk {
    font-size: 46px;
    margin: var(--s2-margin);
    color: rgb(91, 234, 108);
    
}

.sly {
    border-radius: 1rem;
    padding: 3rem;
    box-shadow: 0px 0px 0.8px rgba(234, 243, 137, 0.661);
    background-image: url('bg-2.webp') ;
}

.euphoria p {
    text-align: var(--s2-text-align);
    font-size: 25px;
    color: var(--s2-color);
}

.nhie {
    padding: var(--s1-padding);
    width: var(--s2-width);
    border-radius: 8px;
    padding: 12px;
    font-size: large;
    text-align: var(--s2-text-align);
    color: var(--s2-color);
    font-weight: 600;
    
}

.nhie:hover{
    width: var(--s2-width);
    color: var(--s3-color);
    border: var(--s3-boarder);
    background-color: var(--s4-color);
}

h6 {
    text-align: center;
    font-size: 15px;
}

label {
    font-family: Arial;
    font-weight: 300;
    color: grey;
}

#passError {
    color: red;
}

input{
    padding: 7px;
    border-radius: 5px;
    width: 70%;
}

input[type="email"]:focus {
    outline-offset: 2px;
    padding: 0.8rem;
    background: rgb(226, 234, 234);
}

input[type="text"]:focus {
    outline-offset: 2px;
    padding: 0.8rem;
    background: rgb(226, 234, 234);
}

input::placeholder{
    color: rgb(143, 153, 248);
    font-family: cochin;
    font-size: 12px;
    font-weight: 500;
}

input[type="checkbox"]{
    margin: 0.9rem 0;
}

button {
    cursor: pointer;
}

.cuz {
    width: 60%;
    padding: 7px;
    border-radius: 5px;
    font-weight: 500;
    margin-top: 0.8rem;
}

.cuz:hover {
    width: var(--s2-width);
    color: var(--s3-color);
    border: var(--s3-boarder);
    background-color: var(--s4-color);
}
 
.cuz i {
    font-size: large;
    font-weight: 600;
}



a {
    margin: 2rem ;
    text-decoration: none;
    color: rgb(86, 197, 244);
}

a:hover {
    text-decoration: underline;
    color:rgb(136, 136, 245);
}

div p {
    color: aqua;
}
@media screen and (max-width: 800px) {
    .sly {
       color: rgb(229, 235, 235);
       font-size: 30px;
    }
} 

@media screen and (max-width < 800px) {
    .sly {
        color: rgb(245, 253, 206);
        font-size: 23px;
    }
}
