:root {
    background-color: rgb(46, 45, 45);
    display: grid;
    font-family: Georgia;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 3rem;
    width: auto;
}

#fk {
    font-size: 46px;
    margin: auto;
    color: rgb(136, 233, 251);
}

.sly {
    background: rgba(208, 218, 218, 0.661);
    border-radius: 12px;
    padding: 4rem;
    box-shadow: 0px 0.8px 2.4px rgba(242, 251, 148, 0.661);

}

.euphoria p {
    text-align: center;
    font-size: 25px;
    color: burlywood;
}

.nhie {
    padding: 3rem;
    width: 80%;
    border-radius: 8px;
    padding: 12px;
    font-size: large;
    text-align: center;
    color: burlywood;
    font-weight: 600;
    
}

.nhie:hover{
    width: 100%;
    color: rgb(208, 101, 25);
    border: 2px solid rgb(226, 246, 111);
    background-color: rgb(226, 234, 234);
}

h6 {
    text-align: center;
    font-size: 15px;
}

label {
    font-family: Arial;
    font-weight: 300;
}

input{
    padding: 7px;
    border-radius: 5px;
    width: 70%;
}

input[type="email"]:focus {
    outline-offset: 2px;
    padding: 0.8rem;
    background: rgb(226, 234, 234);
}

input[type="text"]:focus {
    outline-offset: 2px;
    padding: 0.8rem;
    background: rgb(226, 234, 234);
}

input::placeholder{
    color: rgb(143, 153, 248);
    font-family: cochin;
    font-size: 12px;
    font-weight: 500;
}

input[type="checkbox"]{
    margin: 0.9rem 0;
}

button {
    cursor: pointer;
}

.cuz {
    width: 60%;
    padding: 7px;
    border-radius: 5px;
    font-weight: 500;
    margin-top: 0.8rem;
}
 
.cuz i {
    font-size: large;
    font-weight: 600;
}
.cuz:hover {
    width: 100%;
    color: chocolate;
    border: 2px solid rgb(226, 246, 111);
    background-color: rgb(226, 234, 234);
}

a {
    margin: 2rem;
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color:rgb(36, 36, 69);
}

